.roundIndicator {
  background: #456BD9;
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  height: 10px;
  width: 10px;
  display: none;
}

.dangerRound {
    background-color: rgba(var(--bs-danger-rgb))
}

.primaryRound {
    background-color: rgba(var(--bs-primary-rgb))
}

.warningRound {
    background-color: rgba(var(--bs-warning-rgb))
}

.secondaryRound {
    background-color: rgba(var(--bs-secondary-rgb))
}

@media screen and (max-width: 425px) {
    .todoBadge {
        display: none;
    } 
    .roundIndicator{
        display: block;
    }
}

