.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #f5f5f5;
    padding: 1rem;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logoContainer h2 {
    margin: 0;
    text-decoration: none;
    color: black;
    text-wrap: nowrap;
}

.controlButtons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

@media screen and (max-width: 1024) {
    .header {
        display: grid;
        grid-template-columns: auto auto;
    }
    
}
