.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #f5f5f5;
    padding: 1rem;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;
}

.logoContainer h2 {
    margin: 0;
    text-decoration: none;
    color: black;
}

.controlButtons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

@media screen and (max-width: 1024px) {
    .header {
        display: grid;
        grid-template-columns: auto auto;
    }

  
    
}

@media screen and (max-width: 375px) {
    .logoContainer h2 {
        font-size: 20px;
    }

    .logoContainer h2 {
        flex-wrap: wrap;
    }
}
